<?xml version="1.0" encoding="utf-8"?>  
<log4net>
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="RollingLogFileAppender"/>
		<appender-ref ref="AdoNetAppender"/>
	</root>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<threshold value="ALL"/>
		<file type="log4net.Util.PatternString" value="C:\Temp\KidCalculation\KidRuleEngine.Cli.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<datePattern value="yyyyMMdd"/>
		<preserveLogFileNameExtension value="true"/>
		<staticLogFileName value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%newline%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<param name="threshold" value="ALL"/>
		<bufferSize value="1"/>
		<!-- set to 'true' to retry logging on DB errors, for example DB timeouts (very relevant for long running server processes) -->
		<reconnectOnError value="true"/>
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<connectionStringName value="DocGeneratorLogDb"/>
		<commandText value="INSERT INTO         dg.Log    ([Date],[ApplicationName],[Thread],[Level],[Logger],[Message],[Exception],[Host],[User],[BranchName],[Url])         VALUES (@log_date, @application, @thread, @log_level, @logger, @message, @exception, @host, @user, @branch, @url)"/>
		<parameter>
			<parameterName value="@log_date"/>
			<dbType value="DateTime"/>
			<layout type="log4net.Layout.RawTimeStampLayout"/>
		</parameter>
		<parameter>
			<parameterName value="@application"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{ApplicationName}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@thread"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level"/>
			<dbType value="String"/>
			<size value="50"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message"/>
			<dbType value="String"/>
			<size value="90000"/>
			<!--MS-Bug http://support.microsoft.com/default.aspx/kb/970519 darf nicht zwischen 4000 und 8000 sein!-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception"/>
			<dbType value="String"/>
			<size value="90000"/>
			<!--darf nicht zwischen 4000 und 8000 sein!-->
			<layout type="log4net.Layout.ExceptionLayout"/>
		</parameter>
		<parameter>
			<parameterName value="@host"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@user"/>
			<dbType value="String"/>
			<size value="255"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%X{user}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@branch"/>
			<dbType value="String"/>
			<size value="50"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%X{branch}"/>
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@url"/>
			<dbType value="String"/>
			<size value="2048"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%X{url}"/>
			</layout>
		</parameter>
	</appender>
</log4net>